@model Rental
<head>
    <style>
        img.card-img-top {
            margin-top: 70px;
            width: 350px;
            max-height: 230px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .price-heading {
            margin-right: 65px;
        }

        
    </style>
</head>
<div class="col">
    <div>
        <img src="@Model.ImgUrl" class="card-img-top" alt="@Model.Name">
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="text-start">
                    <a asp-controller="Rental"
                       asp-action="Details"
                       asp-route-id="@Model.RentalID">@Model.Name</a>
                    <div>@Model.Address</div>
                </h5>
                <h5 class="text-nowrap price-heading">
                    @Model.PricePrNigth.ToString("0 NOK/Per night")
                </h5>
            </div>
        </div>
    </div>
</div>

